.toolbar {
  display: flex;
  height: fit-content;
}
.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
  width: 50vw;
}
.toolbar-icon {
  padding-bottom: 0.1rem;
}
.toolbar-icon,
h1 {
  justify-content: space-around;
  margin-right: 0.5rem;
}
.searchbar {
  flex: 1;
  width: 200px;
}

