<form [formGroup]="formGroup" (ngSubmit)="submitForm.emit()">
  <mat-dialog-content class="dialog-content">
    <div *ngFor="let field of formFields" class="dialog-content-container">
      <mat-form-field
        *ngIf="field.name !== 'id'"
        class="form-field"
      >
        <mat-label>{{ field.label }}</mat-label>
        <textarea
          *ngIf="field.type === 'textarea'"
          matInput
          [formControlName]="field.name"
        ></textarea>
        <input
          *ngIf="field.type !== 'textarea'"
          matInput
          [type]="field.type || 'text'"
          [formControlName]="field.name"
        />
        <div
          *ngFor="let errorKey of FormHelper.getErrors(formGroup, field.name)"
        >
          <mat-error
            *ngIf="
              FormHelper.getFirstError(formGroup, field.name) as firstError
            "
          >
            {{ FormHelper.getErrorMessage(field, firstError) }}
          </mat-error>
        </div>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="action" align="end">
    <button class="action-btn" mat-raised-button (click)="onCancel()">Cancel</button>
    <button  class="action-btn" mat-raised-button color="primary" [disabled]="formGroup.invalid">
      {{ label }}
    </button>
  </mat-dialog-actions>
</form>
